.container {
  width: 85%;
  margin: auto;
  margin-bottom: 8rem;
}

.projectText {
  text-align: center;
}

.projectText h2 {
  font-family: Lato;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  color: #364068;
  margin-bottom: 0.5rem;
}

.projectText p {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.04px;
  color: #364068;
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  gap: 1rem;
}

.card {
  width: 50%;
  height: 45vh;
  border-radius: 8px;
  border: 1px solid #c19d59;
  text-align: center;
  margin-bottom: 3rem;
}

.cardImage img {
  width: 100%;
}

.cardB {
  width: 32%;
  height: 55vh;
  border-radius: 8px;
  border: 1px solid #c19d59;
  text-align: center;
  margin-bottom: 3rem;
}

.cardImage4 img {
  width: 100%;
}

.card h5 {
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.04px;
  color: #364068;
  width: 100%;
  margin-bottom: 1rem;
}

.cardB h5 {
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.04px;
  color: #364068;
  width: 100%;
  margin-bottom: 1rem;
}

.flex button {
  background: purple;
  color: #fff;
  font-size: 14px;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: lato;
  margin-bottom: 1rem;
}

.flex button span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: purple;
  color: #fff;
  font-size: 14px;
  /* padding: .5rem; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: lato;
}

.whatsappIcon {
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
  margin-right: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .card {
    height: 35vh;
  }

  .cardB {
    height: 50vh;
  }

  .card h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .card h5 {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .card {
    height: 30vh;
  }

  .cardB {
    height: 48vh;
  }
}

@media screen and (max-width: 500px) {
  .projectText h2 {
    font-size: 25px;
  }

  .cards {
    display: block;
  }

  .card {
    width: 100%;
    height: 48vh;
  }

  .cardB {
    width: 100%;
    height: 55vh;
  }

  .flex button {
    font-size: 15px;
    padding: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .card {
    height: 40vh;
  }

  .cardB {
    height: 50vh;
  }
}

@media screen and (max-width: 375px) {
  .card {
    height: 38vh;
  }

  .cardB {
    height: 52vh;
  }
}
