.container {
  width: 100%;
  margin-bottom: 6rem;
}

.topContainer {
  width: 100%;
  background-image: url(../../Assests/headerBack.png);
  background-repeat: no-repeat;
  height: 125vh;
  top: -3px;
  left: 1px;
}

header {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
}

ul {
  display: flex;
  gap: 2rem;
}

h1 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #fff;
  /* width: 30%; */
  font-family: Playwrite;
}

li {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  font-family: Inter;
  line-height: 28.1px;
}

a {
  text-decoration: none;
  color: #fff;
}

.hamburger {
  display: none;
}

.mobileMenu {
  display: none;
}

.logos {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.whatsappIcon {
  width: 20px;
  height: 20px;
  color: white;
  cursor: pointer;
}

.linkedinIcon {
  width: 20px;
  height: 20px;
  color: white;
  cursor: pointer;
}

.twitterIcon {
  width: 20px;
  height: 20px;
  color: white;
  cursor: pointer;
}

.greeting {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.greeting h2 {
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  line-height: 52.42px;
  color: #ffff;
  padding-bottom: 1rem;
}

.handIcon {
  color: yellow;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.innerContainer {
  width: 85%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.headerText h3 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #fff;
  width: 100%;
  font-family: Lato;
}

.headerText p {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #fff;
  width: 100%;
  font-family: Inter;
}

.headerText button {
  background: black;
  color: #fff;
  font-size: 14px;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: lato;
}

.headerImage img {
  width: 100%;
  height: 93vh;
}

@media screen and (max-width: 1024px) {
  .headerImage img {
    height: 73vh;
  }
}

@media screen and (max-width: 900px) {
  .headerImage img {
    height: 70vh;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-bottom: -4rem;
  }

  .navMenu {
    display: none;
  }

  .mobileMenu {
    position: absolute;
    top: -100vh;
    left: 0;
  }

  .hamburger {
    display: block;
  }

  .active {
    width: 50%;
    position: fixed;
    top: 90px;
    right: 0;
    /* background: rgba(3, 1, 65); */
    color: #fff;
    transition: 3s;
  }

  ul{
    display: block;
  }

  .active a{
  color: #fff;
  padding: 3rem;
  }

  /* .logos {
    display: none;
  } */

  .greeting {
    gap: .5rem;
  }

  .greeting h2 {
  font-size: 25px;
 }
  
  .handIcon {
    width: 38px;
    height: 38px;
  }

  .headerText h3 {
    font-size: 25px;
  }
  
  .headerText p {
    font-size: 20px;
  }

  .headerImage img {
    width: 90%;
    height: 68vh;
  }
}

@media screen and (max-width: 500px) {
 h1 {
    font-size: 80px;
  }

  .innerContainer {
    display: block;
  }

  .headerImage img {
    width: 50%;
    height: 42vh;
  }
  }

